.content{
    background-color: #ffe1d4;
    margin: auto;
    width: 50%;
}

.behandeling{
    padding: 20px;
    position: relative;
}

.border{
    border-top: 1px solid black;
    position: absolute;
    top: 0px;
    left: 20em;
    right: 20em;
}

.prijs{
    float: right;
}