.content{
    background-color: #ffe1d4;
    margin: auto;
    padding-bottom: 200px;
    width: 50%;
}

.behandeling{
    padding: 20px;
    position: relative; 
    .prijs{
        float: right;
    }
    img{
        width: 170px;
        height: 300px;
    }
    
}

hr{
    border-color: black;
    margin-top: 50px;
    width: 25%;
}
