<div class="content">
    <div class="behandeling">
        <h3>ACRYL NAGELS (zonder lakken)</h3>
        <p>Nieuwe set<span class="prijs">€35,-</span></p>
        <p>Opvullen<span class="prijs">€25,-</span></p>
        <p>Nagelversteviging<span class="prijs">€32,-</span></p>
        <hr>
    </div>
    <div class="behandeling">
        <h3>GEL & SOLAR NAGELS (zonder lakken)</h3>
        <p>Nieuwe set<span class="prijs">€40,-</span></p>
        <p>Opvullen<span class="prijs">€30,-</span></p>
        <p>Nagelversteviging<span class="prijs">€35,-</span></p>
        <hr>
    </div>
    <div class="behandeling">
        <h3>PINK & WHITE, GLITTER DESIGN NAGELS</h3>
        <p>Nieuwe set<span class="prijs">€50,-</span></p>
        <p>Opvullen<span class="prijs">€40,-</span></p>
        <p>Nagelversteviging<span class="prijs">€45,-</span></p>
        <hr>
    </div>
    <div class="behandeling">
        <h3>DIPPING POWDER NAGELS</h3>
        <p>Nieuwe set<span class="prijs">€40,-</span></p>
        <p>Opvullen<span class="prijs">€30,-</span></p>
        <p>Nagelversteviging<span class="prijs">€38,-</span></p>
        <p>Nieuwe set French<span class="prijs">€45,-</span></p>
        <p>Opvullen French<span class="prijs">€35,-</span></p>
        <hr>
    </div>
    <div class="behandeling">
        <img src="assets/nails.jpg">
        <img src="assets/nails2.jpg">
        <img src="assets/nails3.jpg">
        <img src="assets/nails4.jpg">
        <img src="assets/nails5.jpg">
        <hr>
    </div>
    <div class="behandeling">
        <h3>GELLAK</h3>
        <p>Gellak<span class="prijs">€20,-</span></p>
        <p>Gellak French<span class="prijs">€25,-</span></p>
        <p>Gellak verwijderen<span class="prijs">€10,-</span></p>
        <hr>
    </div>
    <div class="behandeling">
        <h3>MANICURE & PEDICURE (zonder lakken)</h3>
        <p>Manicure<span class="prijs">€15,-</span></p>
        <p>Spa pedicure<span class="prijs">€25,-</span></p>
        <p>Manicure & Spa pedicure<span class="prijs">€35,-</span></p>
        <hr>
    </div>
    <div class="behandeling">
        <h3>NAGELS LAKKEN</h3>
        <p>Nagels lakken<span class="prijs">€10,-</span></p>
        <p>Nagels lakken French<span class="prijs">€15,-</span></p>
        <hr>
    </div>
    <div class="behandeling">
        <h3>HARSEN</h3>
        <p>Wenkbrauwen<span class="prijs">€8,-</span></p>
        <p>Bovenlip<span class="prijs">€5,-</span></p>
        <p>Heel gezicht<span class="prijs">€25,-</span></p>
        <p>Armen<span class="prijs">€30,-</span></p>
        <p>Benen<span class="prijs">€35,-</span></p>
        <p>Oksels<span class="prijs">€20,-</span></p>
        <hr>
    </div>
    <div class="behandeling">
        <h3>Overige behandelingen</h3>
        <p>Cadeaubon<span class="prijs">v.a. €15,-</span></p>
        <p>Steentjes<span class="prijs">v.a. €0,25</span></p>
        <p>Nails art<span class="prijs">v.a. €2,-</span></p>
        <p>Nagelreparatie<span class="prijs">v.a. €4,-</span></p>
        <p>Chrome nagels<span class="prijs">€10,-</span></p>
        <hr>
    </div>

</div>
