<div class="content">
    <div id="introduction">
        <img src="assets/nailbar.jpg">
    </div>

    <div id="rating">
        <h2>- Kimmy's Nail en Spa Rating -</h2>
        <p><img src="assets/rating.png"> (30)</p>
        <div id="reviews">
            <iframe
                src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmonique.renes%2Fposts%2F1610487202353581%3A0&width=500"
                style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                allow="encrypted-media"></iframe>
            <iframe
                src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fleen.vanolmen.94%2Fposts%2F183797469080441%3A0&width=500"
                style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                allow="encrypted-media"></iframe>
            <iframe
                src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnevermeanttobelong%2Fposts%2F1649762651746524%3A0&width=500"
                style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                allow="encrypted-media"></iframe>
        </div>
    </div>
</div>