<div id="preview" class="row">

</div>

<div id="wrapper">
    <div id="aboutus" class="row">
        <H2>Over ons</H2>
        <p>
            <img class="aboutus-preview">
            "Kimmy Nails & Pedicure heet u van harte welkom.
            Kimmy is gespecialiseerd in het verzorgen van uw nagels en behandelen van voeten.
            Tijdens deze behandeling kunt u genieten van een kop koffie of thee.
            Na enkele jaren ervaring te hebben opgedaan ben ik nu voor mezelf begonnen."
        </p>
        <div id="socialmedia">
            <p>Volg ons op Facebook!</p>
            <a href="https://www.facebook.com/Kimmy-nails-pedicure-106911217723617"><img class="socialicon"
                    src="assets/facebook-logo.png"></a>
            <!--
                    <a
                    href="https://www.instagram.com/explore/locations/308095533039422/kimmys-nails-en-spa/?fbclid=IwAR0Q9OzEw9b1Y050JLF_nsiDxvR3iYrU8F6SMh7DDaEolaWKCAzZRPN5GA0"><img
                        class="socialicon" src="assets/instagram-logo.jpg"></a>
                -->
        </div>
    </div>
    <div id="quote" class="row"></div>

    <div class="behandelingen">
        <div id="nails-pedicure" class="row">
            <h2>Behandelingen</h2>
        </div>
        <div class="behandeling-content">
            <h3>Nagels</h3>
            <div class="linewrapper">
                <div>
                    Nieuwe set zonder lak
                </div>
                <div class="middle"></div>
                <div>
                    €30,-
                </div>                
            </div>
            <div class="linewrapper">
                <div>
                    Nieuwe set met lak
                </div>
                <div class="middle"></div>
                <div>
                    €45,-
                </div>                
            </div>
            <div class="linewrapper">
                <div>
                    Opvulling zonder lak
                </div>
                <div class="middle"></div>
                <div>
                    €25,-
                </div>                
            </div>
            <div class="linewrapper">
                <div>
                    Opvulling met lak
                </div>
                <div class="middle"></div>
                <div>
                    €35,-
                </div>                
            </div>
            <div class="linewrapper">
                <div>
                    French gellak
                </div>
                <div class="middle"></div>
                <div>
                    €25,-
                </div>                
            </div>
        </div>
        <div class="behandeling-content">
            <h3>Manicure & Pedicure</h3>
            <div class="linewrapper">
                <div>
                    Zonder lak
                </div>
                <div class="middle"></div>
                <div>
                    €30,-
                </div>                
            </div>
            <div class="linewrapper">
                <div>
                    Met lak
                </div>
                <div class="middle"></div>
                <div>
                    €40,-
                </div>                
            </div>
            <div class="linewrapper">
                <div>
                    Met gellak
                </div>
                <div class="middle"></div>
                <div>
                    €15,-
                </div>                
            </div>
            <div class="linewrapper">
                <div>
                    Verwijderen gellak
                </div>
                <div class="middle"></div>
                <div>
                    €5,-
                </div>                
            </div>
            <div class="linewrapper">
                <div>
                    Manicure
                </div>
                <div class="middle"></div>
                <div>
                    €15,-
                </div>                
            </div>
        </div>
    </div>
    
    <div id="openings-tijden" class="row">
        <img class="assets/openings-tijden.jpg">
    </div>
</div>