#preview{
    margin-left: 0;
    height: 100vh;
    background: url('../../assets/home-banner.jpg') no-repeat center center fixed;
    background-attachment: scroll;
    background-size: cover;
}

#wrapper{
    overflow: hidden;
}

#aboutus{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25vh;
    padding-right: 25vh;
    margin: 20vh;
    color: #94cccc;
    background-color: #edf7f7;
    
    h2{
        text-align: left;
        padding-left: 100px;
    }
    .socialicon{
        width: 50px;
        height: 50px;
    }
    #socialmedia{
        padding-top: 40px;
    }
}

#quote{
    float: initial;
    background-image: url(../../assets/quote-wallpaper.png);
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
}

#nails-pedicure{
    margin: 50px;
    text-align: center;
    color: #94cccc;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    h2{
        margin: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

#openings-tijden {
    float: left;
}

#reviews{
    iframe{
        padding: 20px;
    }
}

.behandelingen{
    text-align: center;
    margin-bottom: 10vh;
}

.behandeling-content{
    display: inline-block;
    width: 25%;
    margin: 100px;
    color: #94cccc;
    background-color: #edf7f7;
    padding: 25px;
}

.linewrapper {
    display: flex;
    align-items: baseline;
    div{
        padding-bottom: 10px;
    }
  }
  .middle {
    border-bottom: 1px dashed #aaa;
    flex-grow: 1;
    margin: 0 5px;
  }
  .ingredients {
    color: #bbb;
    margin-bottom: 1em;
  }