#preview{
    margin-bottom: 50px;
    margin-left: 0;
    height: 60vh;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
    background: url('../../assets/nailbar.jpg') no-repeat center center fixed;
    background-attachment: fixed;
    background-size: 100%;
    /*
    img{
        margin-right: auto;
        display: block;
        width: 100%;
    }
    */
}

#aboutus{
    overflow: hidden;
    padding: 60px;
    margin: auto;
    width: 65%;
    h2{
        text-align: left;
        padding-left: 100px;
    }
    .aboutus-preview{
        float: right;
        width: 30%;
        padding-left: 50px;
    }
    .socialicon{
        width: 50px;
        height: 50px;
    }
    #socialmedia{
        padding-top: 40px;
    }
}

#rating {
    margin: 15%;
    margin-top: 0;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px 0px 0px 0px;
    text-align: center;
    img {
        width: 100px;
        height: 20px;
    }
}

#reviews{
    iframe{
        padding: 20px;
    }
}
