#preview{
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
    margin-bottom: 50px;
    margin-left: 0;
    img{
        margin-right: auto;
        display: block;
        width: 100%;
    }
}

#aboutus{
    overflow: hidden;
    padding: 60px;
    margin: 60px;
    padding-left: 10%;
    padding-right: 10%;
    h2{
        text-align: left;
    }
    img{
        float: right;
        width: 30%;
    }
}

#rating {
    margin: 100px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px 0px 1px 0px;
    text-align: center;
    img {
        width: 100px;
        height: 20px;
    }
}

#reviews{
    iframe{
        width: 500px;
        height: 373px; 
        padding: 20px;
    }
}