<div id="preview" class="row">
    <!--

    <img src="assets/nailbar.jpg">
    -->
    
</div>

<div id="aboutus" class="row">
        <H2>Over ons</H2>
        <p>
            <img class="aboutus-preview" src="assets/aboutus.jpg">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum."
        </p>
        <div id="socialmedia">
            <p>Volg ons op social media!</p>
            <a href="https://www.facebook.com/kimmysnailsenspa"><img class="socialicon" src="assets/facebook-logo.png"></a>
            <a
                href="https://www.instagram.com/explore/locations/308095533039422/kimmys-nails-en-spa/?fbclid=IwAR0Q9OzEw9b1Y050JLF_nsiDxvR3iYrU8F6SMh7DDaEolaWKCAzZRPN5GA0"><img
                    class="socialicon" src="assets/instagram-logo.jpg"></a>
        </div>
    </div>


<div id="rating" class="row">
    <h2>- Kimmy's Nails en Spa Rating -</h2>
    <p><img src="assets/rating.png"> (30)</p>
    <!--

    <div id="reviews">
        <iframe
            src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fm.facebook.com%2Fmonique.renes%2Fposts%2F1610487202353581%3Fsubstory_index%3D0&width=350&show_text=true&height=406&appId"
            width="350" height="406" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowTransparency="true" allow="encrypted-media"></iframe>
        <iframe
            src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fleen.vanolmen.94%2Fposts%2F183797469080441%3A0&width=500"
            style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
            allow="encrypted-media"></iframe>
        <iframe
            src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnevermeanttobelong%2Fposts%2F1649762651746524%3A0&width=500"
            style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
            allow="encrypted-media"></iframe>
    </div>
    -->
    
</div>