<header (scroll)="onWindowScroll($event);">
  <div class="animated fadeInDown" id="navbar">
    <div class="logo">
      <a href="#">
        <img src="assets/logo.png">
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="#aboutus" target="_self">HOME</a></li>
        <li><a href="#behandelingen" target="_self">BEHANDELINGEN</a></li>
        <li><a href="#openingstijden" target="_self">AFSPRAAK MAKEN</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footer-container">
    <div id="adres" class="footer-content">
      <h3>Adres</h3>
      De klef 6
      <br>
      5846 HT Sint Anthonis
      <br>
      06 52054190
    </div>
    <div id="openingstijden" class="footer-content">
      <h3>Openingstijden</h3>
      <table>
        <tbody>
          <tr>
            <td>
              <span style="font-size: 18px;">maandag</span>
            </td>
            <td>
              <span style="font-size: 18px;">13:00 - 18:00</span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size: 18px;">dinsdag</span>
            </td>
            <td>
              <span style="font-size: 18px;">09:00 - 18:00</span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size: 18px;">woensdag</span>
            </td>
            <td>
              <span style="font-size: 18px;">09:00 - 18:00</span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size: 18px;">donderdag</span>
            </td>
            <td>
              <span style="font-size: 18px;">09:00 - 18:00</span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size: 18px;">vrijdag</span>
            </td>
            <td>
              <span style="font-size: 18px;">09:00 - 18:00</span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size: 18px;">zaterdag</span>
            </td>
            <td>
              <span style="font-size: 18px;">10:00 - 18:00</span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size: 18px;">zondag</span>
            </td>
            <td>
              <span style="font-size: 18px;">gesloten</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="social" class="footer-content">
      <h3>SOCIAL</h3>
      <ul>
        <li class="social"><a href="https://www.facebook.com/Kimmy-nails-pedicure-106911217723617"><img class="socialicon"
              src="assets/facebook-icon.png"></a></li>
        <li class="social"><a href="mailto:kimmynailsenspa@gmail.com"><img class="socialicon"
              src="assets/email-icon.png"></a></li>
      </ul>
    </div>
  </div>
</footer>