<header (scroll)="onWindowScroll($event);">
  <div class="animated fadeInDown" id="navbar">
    <div class="logo">
      <a href="#">
        <img src="assets/logo.png">
      </a>
    </div>
    <nav class="navbar-default">
      <ul>
        <li><a href="#aboutus" target="_self">HOME</a></li>
        <li><a href="#behandelingen" target="_self">BEHANDELINGEN</a></li>
        <li><a href="#openingstijden" target="_self">OPENINGSTIJDEN</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footer-container">
    <div id="adres" class="footer-content">
      <h3>CONTACT</h3>
      De klef 6
      <br>
      5846 HT Sint Anthonis
      <br>
      06 52054190
    </div>
    <div id="openingstijden" class="footer-content">
      <h3>OPENINGSTIJDEN</h3>
      <div id="list-openingstijden">
        <ul id="list-border">
          <li>
            <span class="pull-left">Maandag</span>
            <span class="pull-right">13:00 - 18:00</span>
          </li>
          <li>
            <span class="pull-left">Dinsdag</span>
            <span class="pull-right">09:00 - 18:00</span>
          </li>
          <li>
            <span class="pull-left">Woensdag</span>
            <span class="pull-right">09:00 - 18:00</span>
          </li>
          <li>
            <span class="pull-left">Donderdag</span>
            <span class="pull-right">09:00 - 18:00</span>
          </li>
          <li>
            <span class="pull-left">Vrijdag</span>
            <span class="pull-right">09:00 - 18:00</span>
          </li>
          <li>
            <span class="pull-left">Zaterdag</span>
            <span class="pull-right">10:00 - 16:00</span>
          </li>
          <li>
            <span class="pull-left">Zondag</span>
            <span class="pull-right">GESLOTEN</span>
          </li>
        </ul>
      </div>
    </div>
    <div id="social" class="footer-content">
      <h3>SOCIAL</h3>
      <ul>
        <li class="social"><a href="https://www.facebook.com/Kimmy-nails-pedicure-106911217723617"><img
              class="socialicon" src="assets/facebook-icon.png"></a></li>
        <li class="social"><a href="mailto:kimmynailsenspa@gmail.com"><img class="socialicon"
              src="assets/email-icon.png"></a></li>
      </ul>
    </div>
    <div id="extra-link" class="footer-content">
      <h3>BEZOEK OOK EENS</h3>
      <a href="https://www.noellevankasteren.nl/">
        <img src="//resizer.bk-partners1.co.uk/79/63/79636237-3a84-420a-a021-367a23993b19.jpg?w=960">
      </a>
    </div>
  </div>
</footer>