<header>
  <a href="#" class="logo">
    <img src="assets/logo.png">
  </a>
  <nav>
        <ul>
          <li><a href="#" routerLink="/">HOME</a></li>
          <li><a href="#" routerLink="/behandelingen">BEHANDELINGEN</a></li>
          <li><a href="#" routerLink="/afspraak">AFSPRAAK MAKEN</a></li>
        </ul>
  </nav>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footer-content">
    <div class="footer-pane">
      <h3>KIMMY'S NAIL EN SPA</h3>
      <ul>
          <li><a href="#" routerLink="/">Over ons</a></li>
          <li><a href="#" routerLink="/">Behandelingen</a></li>
          <li><a href="#" routerLink="/">Afspraak maken</a></li>
      </ul>
    </div>
    <div class="footer-pane">
      <h3>CONTACT</h3>
      <p>Straatnaam 00</p>
      <p>06 12345678</p>
    </div>
  </div>
</footer>