///@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
$primary: #94cccc;

@font-face {
    font-family: ubuntu-font;
    src: url(assets/Ubuntu-Light.ttf);
}

* {
    font-family: ubuntu-font;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.container{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: block;
}

header {
    width: 100%;
    position: absolute;
    padding-top: 20px;
    top: 0;
    z-index: 999;
    background: transparent;

    a {
        color: white;
        text-decoration: none;
        display: inline-block;
    }

    .logo{
        display: inline-block;
        padding-left: 5vh;
        a{
            img{
                height: 125px;
            }
        }
    }

    .navbar-default {
        display: block;
        float: right;
        ul {
            list-style-type: none;
            margin: 0;
            display: flex;
            padding: 1em;
            li a {
                padding: 1em;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

.sticky{
    background: $primary;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    .logo{
        a{
            img{
                height: 75px;
            }
        }
    }

    nav {
        ul {
            list-style-type: none;
            margin: 0;
            display: flex;
            padding: 1em;
            li a {
                padding: 1em;
                &:hover {
                    color: darken($primary, 10%);
                }
            }
        }
    }
}

footer{
    background-color: $primary;
    color: white;
    position: absolute;
    left: 0;
    right: 0;

    h3{
        text-align: center;
    }

    .footer-container{
        display: inline-block;

        ul{
            padding: 0;
        }
        
        .footer-content{
            float: left;
            padding: 30px;
        }
        #openingstijden{
            list-style-type: none;
            li{
                padding-bottom: 10px;
            }
        }
        #social{
            float: left;
        }
    }
    
    #list-border{
        list-style-type: none;
        .pull-left{
            float: left;
            padding-right: 20px;
        }
        .pull-right{
            float: right;
        }
    }

    
}

.socialicon{
    width: 30px;
    height: 30px;
}

.social{
    display: inline-block;
    padding-right: 5px;
}

@media only screen and (max-width: 700px) {
    .navbar-default{
        visibility: hidden;
    }
  }

@media only screen and (max-width: 528px) {
    header{
        padding-top: 0px;
    }
    /*shows elements in a column*/
    ul{
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    
    /* deletes margin on top or bottom of the a tag*/
    li{
      margin: 0;
    }
   /* makes sure that the a tag will take the entire screen*/
    a{
      display: block;
    }

    .container{
        padding-top: 0px;
    }
  }