@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: rgb(219,112,147);

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

header {
    padding-top: 1em 0;
    text-align: center;

    a {
        color: white;
        text-decoration: none;
    }

    a.logo {
        font-weight: bold;
    }

    nav {
        background: $primary;
        ul {
            list-style-type: none;
            margin: 0;
            display: flex;
            padding: 1em;
            li a {
                padding: 1em;
                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

footer{
    -webkit-box-shadow: inset 0px 32px 8px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 32px 8px -24px rgba(0,0,0,0.75);
    box-shadow: inset 0px 32px 8px -24px rgba(0,0,0,0.75);
    background-color: $primary;
    color: white;

    ul{
        list-style-type: none;
        padding: 0;
        li a{
            color: white;
            text-decoration: none;
        }
    }

    .footer-content{
        display: flex;
        min-height: 30vh;
        .footer-pane{
            display: block;
            margin: 60px;
            width: 15%;
            .tijd{
                float: right;
            }
            hr{
                margin: 0;
                width: 20%;
                border-color: rgb(212, 85, 127);
            }
        }
    }
}

.socialicon{
    width: 30px;
    height: 30px;
}

.social{
    float: left;
    padding-right: 5px;
}

