///@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
$primary: #94cccc;

@font-face {
    font-family: ubuntu-font;
    src: url(assets/Ubuntu-Light.ttf);
}

* {
    font-family: ubuntu-font;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.container{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: block;
}

header {
    width: 100%;
    padding-top: 25px;
    position: absolute;
    top: 0;
    z-index: 999;
    background: transparent;

    a {
        color: white;
        text-decoration: none;
        display: inline-block;
    }

    .logo{
        display: inline-block;
        padding-left: 5vh;
        img{
            width: 250px;
            height: 125px;
        }
    }

    nav {
        display: block;
        float: right;
        ul {
            list-style-type: none;
            margin: 0;
            display: flex;
            padding: 1em;
            li a {
                padding: 1em;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

footer{
    background-color: $primary;
    color: white;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    text-align: center;

    ul{
        list-style-type: none;
        padding: 0;
        li a{
            color: white;
            text-decoration: none;
        }
    }

    .footer-container{
        width: auto;
        height: auto;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        
        .footer-content{
            float: left;
            padding: 30px;
        }

        #adres{
            width: 20%;
            text-align: left;
        }
        #openingstijden{
            td{
                text-align: center;
                #time{
                    text-align: right;
                    float: right;
                }
            }
            width: 37.5%;
        }
        #social{
            float: left;
        }
    }
}

.socialicon{
    width: 30px;
    height: 30px;
}

.social{
    display: inline-block;
    padding-right: 5px;
}

@media only screen and (max-width: 528px) {
    /*shows elements in a column*/
    ul{
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    
    /* deletes margin on top or bottom of the a tag*/
    li{
      margin: 0;
    }
   /* makes sure that the a tag will take the entire screen*/
    a{
      display: block;
    }

    .container{
        padding-top: 0px;
    }
  }

  
@media only screen and (max-width: 1200px) {
    #preview{
        background-repeat: no-repeat;
        background-size: cover !important;
    }
    header{
        position: static;
    }
  }
